.App {
  position: relative;
  height: 100vh; /* Chiều cao toàn bộ viewport */
  overflow: hidden; /* Ẩn nội dung tràn ra */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Đặt video ở phía dưới nội dung */
  transform: translate(-50%, -50%); /* Canh giữa video */
}

.content {
  position: relative; /* Để nội dung nằm trên video */
  z-index: 1; /* Đặt nội dung lên trên video */
  text-align: center; /* Canh giữa nội dung */
  color: white; /* Màu chữ */
}
